<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %c{1.} - %msg%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="org.flywaydb" level="warn"><AppenderRef ref="Console" /></Logger>
		<Logger name="org.flywaydb.core.internal.command.DbMigrate" level="info"><AppenderRef ref="Console" /></Logger>
		<Logger name="org.springframework" level="warn"><AppenderRef ref="Console" /></Logger>
		<Logger name="org.hibernate" level="warn"><AppenderRef ref="Console" /></Logger>
		<Logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="error"><AppenderRef ref="Console" /></Logger>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>