.titre { font-size: 30px; }
#infoMariage { margin-bottom: 50px; }

/* Pour masquer le contenu tant qu'il n'est pas prêt */
.invisible { visibility: hidden; }

.formPerso .form-control { display: none; }
.formPerso .btn-sauvegarder { display: none; }
.form-group label { width: 100px; }

.todo { background-color: red; }

.ui-dialog { z-index: 9999; }
.center { text-align: center; }
.popup {  }
.error { border-color: red!important; }
.errorMessage { color: red; }
.datetimepicker { z-index: 9999 !important; }
.fondBlanc { background-color: white; }

/* Pour les boutons dans les cases d action des tableaux */
.jqx-grid-cell .ui-icon { display: inline-block; }

/* Pour les libelles des stats */
#statistiques label { min-width:280px; font-weight: 100; }

/* Pour le modele des invitations */ 
#modele > div { float:right; margin:0 200px 20px 0; border-color: #aaa; background: #e8e8e8 none repeat scroll 0 0 }

/** Pour l'image de fond */
body { background-image: url("fond.jpg"); }

/* Pour le scheduler */
#conteneurCalendrier { width: 1100px; height: 1400px; }
#calendrier { width: 100%; height: 100%; }
.dhx_multi_select_Participants label { margin-left: 5px; }
.dhx_multi_select_Participants input { margin-right: 3px; }
.calendrierFiltre { left: 250px; margin-top: 5px; cursor: pointer; }
.calendrierFiltreIcone { -ms-transform: scale(2); -webkit-transform: scale(2); transform: scale(2); }
.divCalendrierFiltre { margin-top: 5px; background-color: white; border: 1px solid #cecece; border-radius: 3px; box-shadow: 2px 2px 5px #ccc; box-sizing: border-box; }
.divCalendrierFiltre label { margin-left: 5px; } 
.divCalendrierFiltre input { margin-right: 3px; }
