.titre { font-size: 30px; }
#infoMariage { margin-bottom: 50px; }

.formPerso .form-control { display: none; }
.formPerso .btn-sauvegarder { display: none; }
.form-group label { width: 100px; }

.todo { background-color: red; }

.ui-dialog { z-index: 9999; }
.center { text-align: center; }
.popup {  }
.error { border-color: red!important; }