<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="sessionFactory">
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.url">jdbc:hsqldb:file:D:/Projets/Perso/marie/mariage/mariageRest/database/mariage;readonly=true;files_readonly=true;hsqldb.lock_file=false</property>
		<property name="hibernate.connection.username">username</property>
		<property name="hibernate.connection.password">pass</property>
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<mapping class="com.github.talbotgui.mariage.metier.entities.Age" />
		<mapping class="com.github.talbotgui.mariage.metier.entities.Courrier" />
		<mapping class="com.github.talbotgui.mariage.metier.entities.Etape" />
		<mapping class="com.github.talbotgui.mariage.metier.entities.EtapeCeremonie" />
		<mapping class="com.github.talbotgui.mariage.metier.entities.EtapeRepas" />
		<mapping class="com.github.talbotgui.mariage.metier.entities.Evenement" />
		<mapping class="com.github.talbotgui.mariage.metier.entities.Foyer" />
		<mapping class="com.github.talbotgui.mariage.metier.entities.Invitation" />
		<mapping class="com.github.talbotgui.mariage.metier.entities.InvitationId" />
		<mapping class="com.github.talbotgui.mariage.metier.entities.Invite" />
		<mapping class="com.github.talbotgui.mariage.metier.entities.Mariage" />
		<mapping class="com.github.talbotgui.mariage.metier.entities.ParticipationEvenement" />
		<mapping class="com.github.talbotgui.mariage.metier.entities.ParticipationEvenementId" />
		<mapping class="com.github.talbotgui.mariage.metier.entities.Presence" />
		<mapping class="com.github.talbotgui.mariage.metier.entities.PresenceId" />
		<mapping class="com.github.talbotgui.mariage.metier.entities.securite.Autorisation" />
		<mapping class="com.github.talbotgui.mariage.metier.entities.securite.Utilisateur" />
	</session-factory>
</hibernate-configuration>
