<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//Apache Software Foundation//DTD Log4J Configuration 2.0//EN"  "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout"><param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %5p : %c:%4L : %20M() : %m%n"/></layout>
	</appender>

	<appender name="RollingFile" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="rollingLog.log" />
		<param name="MaxFileSize" value="5MB" />
		<layout class="org.apache.log4j.PatternLayout"><param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %5p : %c:%4L : %20M() : %m%n"/></layout>
	</appender>
	
	<logger name="org.hibernate"><level value="WARN" /></logger>
	<logger name="org.springframework"><level value="INFO" /></logger>
	<logger name="org.springframework.context"><level value="WARN" /></logger>
	<logger name="org.jboss.logging"><level value="WARN" /></logger>

	<root>
		<level value="debug" />
		<appender-ref ref="Console" />
		<appender-ref ref="RollingFile" />
	</root>
</log4j:configuration>